################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/PersonalChess/CopilotIndices/17.14.1091.29919
